@layer components.UserTextMessage {
  .user-message-bubble-content {
    position: relative;
    white-space: pre-wrap;
  }

  .user-message-bubble-content.expanded {
    max-height: none;
    overflow-y: visible;
  }

  .user-message-attachments-container {
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 5px;
  }

  .user-message-attachments-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
  }

  .chat-bubble-toggle-button {
    position: sticky;
    bottom: -10px;
    left: 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 1.2em;
    z-index: 10;
    background-color: transparent; /* Default to transparent */
    padding-top: 10px;
  }

  .user-message .chat-bubble-toggle-button {
    color: var(--color-user-verydark);
    background-color: var(--color-user-light);
  }

  .agent-message .chat-bubble-toggle-button {
    color: var(--color-agent-verydark);
    background-color: var(--color-agent-light);
  }
}
